<label>Server Name</label>
<!-- <input type='text' class='form-control' (input)='onUpdateServerName($event)'/> -->
<input type='text' class='form-control' [(ngModel)]='serverName'/>
<!-- <p>{{ serverName }}</p> -->

<button class='btn btn-primary' [disabled]='!allowNewServer' (click)='onCreateServer()'>Add Server</button>

<app-server *ngFor="let server of servers"></app-server>
    <!--this selector nests the server.component in this component-->
    <!--can include the same selector multiple times to print multiple instances of the server.component-->

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf='serverCreated'>Server was created with name: {{serverName}}</p>

<!--alternative syntax for using an if/else condition
<p *ngIf='serverCreated; else noServer'>Server was created with name: {{serverName}}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>
-->


